---
import Layout from '../layouts/Layout.astro';
import LandingHeader from '../components/LandingHeader.astro';
import HeroSection from '../components/HeroSection.astro';
import FirstGrumpy from '../components/FirstGrumpy.astro';
import SecondGrumpy from '../components/SecondGrumpy.astro';
---

<Layout title="DUCK! FILMS">
	
	<LandingHeader />
	
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto overflow-x-hidden scroll-smooth">

		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center">
			<FirstGrumpy />
		</div>
		<div class="snap-center">
			<SecondGrumpy />
		</div>

		

	</main>

</Layout>


