
<section class="bg-black h-screen w-screen text-center relative overflow-hidden">

    <div class="z-30 relative h-full flex flex-col">
        <!-- <header>
            <h2 class="text-black pt-40 text-[40px] font-medium">DAAC360 FILMS</h2>
            <p class="text-black text-sm">Servicios audiovisuales con estilo</p>
        </header>
        
        <footer class="flex flex-grow flex-col justify-end pb-24">
            <div>
                <a class="border-1 border-white bg-white/5 backdrop-blur-md rounded px-12 py-2 inline-block hover:text-black hover:bg-white transition-colors " href="#">¿Hablamos?</a>
            </div>
        </footer> -->
    </div>

    <div class="absolute top-0 h-full bottom-0 z-10 w-full">
        <img src="/grumpy.jpg" alt="It's me" class="h-full w-full object-cover object-center">
    </div>
    
</section>

<style>
    a {
		font-size: 12px;
	}
</style>