
<section 
    class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
    data-header-color="white"
>

    <div class="z-30 relative h-full flex flex-col">
        <div class="absolute top-0 h-full bottom-0 z-10 w-full">
            <img src="/grumpy3.jpg" class="h-full w-full object-fit object-center">
        </div>    
    </div>

    
    
</section>

<style>
    a {
		font-size: 12px;
	}
</style>